<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.martin.studentorganizer"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AddTaskActivity">
        </activity>
        <activity android:name=".ManageSubViewActivity">
        </activity>
        <activity android:name=".TaskSubViewActivity">
        </activity>
        <activity android:name=".ModuleSubViewActivity">
        </activity>
        <activity android:name=".PhotoNote">
        </activity>
        <activity android:name=".UpcomingTaskActivity">
        </activity>
        <activity android:name=".ModuleViewActivity">
        </activity>
    </application>

</manifest>